body {
  background-color: black;
}

.page {
  max-width: 880px;
  margin: 45px auto 60px;
  font-family: "Inter-Regular", sans-serif;
}

.btn:hover:not(:disabled) {
  cursor: pointer;
  opacity: 0.6;
}

